.seq-range-container {
  display: inline-block;
}

.seq-range-label {
  text-align: center;
}

.seq-range-value {
  text-align: center;
}

.seq-range-slider {
  -webkit-appearance: slider-vertical;
}

.yo {
  display: inline-block;
  text-align: center;
}
